.wrapper-accordion {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #D81E5B;
  }
  
  .wrapper-accordion button {
      padding: 50px 50px;
      background: #8721F4;
      color: #fff;
      font-weight: bold;
      font-size: 28px;
      cursor: pointer;

  }
  
  .accordian {
    width: 50%;
  }
  
  .item {
    background: #F0544F;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  
  .title {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .content {
    color: #ffffff;
    height: auto;
    font-size: 1.5rem;
  }